/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height:auto;
}
*,*:after,*:before{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}


/*wrap設定*/
.wrap{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

/*header設定*/
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
	position: fixed;
    top: 0;
    width: 1000px;  /* 限制最大寬度 */
    max-width: 100%;  /* 確保在小螢幕下不會超過視窗 */
    z-index: 1000; 
    background-color: rgba(5, 5, 5, 0.3);
}
h1 a{
    background-image: url("../img/logo_w@svg.svg");
	height: 24px;
	width: 120px;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
	background-size: contain;
	display:block;
	margin: 15px 30px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav a{
	padding: 15px 10px;
	display:block;
	color:white;
}
.nav a:hover{
	background-color: gray;
}
@media(max-width:767px){
	.header{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/*banner設定*/
.banner{
	background-image: url("../img/header_desktop.png");
	background-size: cover;
	background-position: center;
	height: 420px;
	display:flex;	
	justify-content: center;
	align-items: center;	
}
.banner .text{
	display:flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:20px 30px;
	background-color: rgba(0, 0, 0, 0.3);
}
.text h2{
	font-size: 32px;
	margin-bottom:20px;
}
.text h2, .text p{
	text-align: center;
	color:white;
	line-height: 1.5em;
}
@media(max-width:767px){
	.banner{
		background-image: url("../img/header_mobile.png");
	}
}

/*footer設定*/
.footer{
	background-color: #efe9e7;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 30px;
}
.address{
	display: flex;
	justify-content: flex-start;
	gap:50px;
}
.address li{
	width:30%;
}
.address h2, .address p, .address li{
	color:#3d1101;
	line-height: 1.5;
}
.address h2{
	font-size: 24px;
	margin-bottom: 20px;
}
.address ul{
	list-style: disc;
	white-space: nowrap;
	padding-left: 20px;
}
.link ul{
	display: flex;
	justify-content: flex-end;
	gap:10px;
	margin-top:20px;
}
.link a:hover{
	background-color: rgba(0, 0, 0, 0.5); /* 增加淡色背景 */
    border-radius: 50%; /* 圓角效果 */
}
@media(max-width:767px){
	.footer{
		flex-direction: column;
	}
	.about{
		display:none;
	}
	.address li{
		width:100%;
		margin-bottom:30px;
	}
}
