/*content設定*/
.content{
    background-color: #efe9e7;
    color:#3d1101;
    padding:30px 0px;
}
.content h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
}
.content p{
    margin-top: 10px;
	margin-bottom: 20px;
}
.content ul{
    display:flex;
    justify-content: center;
    gap:20px;
}
.content li{
    width:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.content li img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.customer li{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.customer li div{
    padding: 20px 10px;
}
@media(max-width:767px){
    .content ul{
        flex-direction: column;
        align-items: center;
    }
    .content li{
        width:90%;
    }
}

/*chef設定*/
.chef{
    display:flex;
    padding:0 20px;
    background-color: #3d1101;
}
.chef .text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:20px 20px;
}
@media(max-width:767px){
    .chef{
        flex-direction: column;
    }
    
}

/*preorder設定*/
.preorder{
    background-color: #f6f4f3;
    padding: 50px 20px;
}
.preorder h2{
    color:#3d1101;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
.detail{
    display: flex;
    justify-content: center;
    gap:20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
    color:#3d1101;    
}
input[type="text"], input[type="tel"], input[type="email"], input[type="number"]{
    max-width: 460px; 
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;	
    margin-top:5px;
    margin-bottom: 10px;
}
form .btn{
    display: flex;
    justify-content: flex-end;
}
form .cancel-btn, form .submit-btn{
    width:70px;
    height:32px;
    border-radius: 4px;
	color:white;
	border: none;
	cursor: pointer;
}
form .submit-btn{
    margin-left:10px;
}
form .cancel-btn:hover, form .submit-btn:hover{
	background-color: black;
}
form .cancel-btn{
	background-color: #9b9796;
}
form .submit-btn{
	background-color: #ff5e45;
}
@media(max-width:767px){
    .detail{
        flex-direction: column;
    }
}
